<h1 style="padding-top: 50px">Wie ik ben?</h1>

<div style="background-color: #dbd8e0; border-radius: 10px; padding: 10px">
  <p>Hallo, ik ben Luna!
    <br><br>
    Ik ben een gek trans meisje, en ik houd van programmeren. Tegenwoordig doe ik aan web development, dus denk aan HTML, CSS en JavaScript, maar ik vind het ook leuk om nieuwe dingen uit te proberen zoals C++ en C#. Ik houd ook van netwerken en servers, fuck serverless, alles is al op een server toch, dus waarom niet de jouwe XD.
    <br><br>
    Ik ben vaak erg verlegen, dus als je me in een hoek ziet zitten, kom alsjeblieft met me praten, ik zou het heel erg waarderen!</p>
</div>
