<h1 style="padding-top: 50px">Who Am I?</h1>

<div style="background-color: #dbd8e0; border-radius: 10px; padding: 10px">
  <p>Hi, I’m Luna!
    <br><br>
    I’m a quirky silly trans girl, I like programing nowadays I work mostly in web dev, so HTML, CSS and JavaScript, but
    I also like to try new things like C++ and C#, I also like to deal with networking and server configuration, Screw
    serverless everything is on a server anyway why not let it be on yours XD.
    <br><br>
    Also, I’m often shy so if you see me quiet in a corner somewhere please come up and talk to me, I really appreciate
    it.</p>
</div>
