<img (click)="window.open('https://youtu.be/69VV0pH57XE')" alt="Trans " class="flag" height="60"
     ngSrc="/flags/trans-flag.svg"
     width="100"/>
<img (click)="window.open('https://youtu.be/3NeMPxB37B4')" alt="Gay " class="flag" height="60"
     ngSrc="/flags/gay-flag.svg"
     width="100"/>
<img (click)="window.open('https://youtu.be/BNmKFXVWPiI')" alt="Lesbian " class="flag" height="60"
     ngSrc="/flags/lesbian-flag.svg"
     width="100"/>

<h1>Mijn tijd is voorbij {{ time }}</h1>
<h1>Ik ben momenteel {{ age }} jaren oud</h1>
<h1>Ik ben van zweden
  <span>
    <img (click)="window.open('https://youtu.be/Ifs-TOVOsCE?t=20')"
         alt=""
         height="30" ngSrc="/flags/sweden-flag.svg"
         style="margin: 0; border-radius: 5px; vertical-align: -5px; cursor: pointer" width="50">
  </span>
</h1>

<h1>Mijn favoriete voornaamwoorden zijn zij/haar, gebruik het of krijg de bonk
  <span>
    <img alt="Bonk" height="50" ngSrc="/funny/bonk.webp" style="vertical-align: -10px" width="50">
  </span>
</h1>
