<img alt="Trans " class="flag" height="60" ngSrc="/flags/trans-flag.svg" width="100"/>
<img alt="Gay " class="flag" height="60" ngSrc="/flags/gay-flag.svg" width="100"/>
<img alt="Lesbian " class="flag" height="60" ngSrc="/flags/lesbian-flag.svg" width="100"/>

<h1>My current time is {{time}}</h1>
<h1>I am currently {{age}} Years old</h1>
<h1>I am from Sweden <span><img style="margin: 0; border-radius: 5px; vertical-align: -5px" ngSrc="/flags/sweden-flag.svg" height="30" width="50" alt=""></span></h1>

<h1>My preferred pronouns are She/Her use it or get the bonk <span><img ngSrc="/funny/bonk.webp" height="50" width="50" style="vertical-align: -10px" alt="Bonk"></span></h1>

