#main-pic {
  cursor: pointer;
  border-radius: 100%;
}

.container {
  text-align: center;
}

/*Mobile View*/
@media (max-width: 600px) {
  #main-pic {
    width: 200px;
    height: 200px;
  }
}

/*Desktop View*/
@media (min-width: 601px) {
  .container {
    width: 50vw !important;
    margin: auto !important;
  }
  #main-pic {
    width: 300px;
    height: 300px;
  }
}
