<button (click)="linkClick(0)" class="buttons">
  <img alt="" height="25" ngSrc="/donate/paypal.svg" width="25"/>
  <span>PayPal</span>
</button>
<button (click)="linkClick(1)" class="buttons">
  <img alt="" height="25" ngSrc="/donate/donate.svg" width="25"/>
  <span>Revolut</span>
</button>
<button (click)="linkClick(2)" class="buttons">
  <img alt="" height="25" ngSrc="/donate/swish.svg" width="25"/>
  <span>Swish</span>
</button>
<button (click)="linkClick(3)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/wishlist.svg" width="25"/>
  <span>Wishlist</span>
</button>
