<button (click)="linkClick(0)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/only-fans.svg" width="25"/>
  <span>Alleen ventilatoren</span>
</button>
<button (click)="linkClick(1)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/discord.svg" width="25"/>
  <span>Discord</span>
</button>
<button (click)="linkClick(2)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/twitch.svg" width="25"/>
  <span>Trillen</span>
</button>
<button (click)="linkClick(3)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/vr-chat.svg" width="25"/>
  <span>VrChat</span>
</button>
<button (click)="linkClick(4)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/reddit.svg" width="25"/>
  <span>Reddit</span>
</button>
<button (click)="linkClick(5)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/github.svg" width="25"/>
  <span>Github</span>
</button>
<button (click)="linkClick(6)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/youtube.svg" width="25"/>
  <span>JouwTube</span>
</button>
<button (click)="linkClick(7)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/twitter.svg" width="25"/>
  <span>Twitter</span>
</button>
<button (click)="linkClick(8)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/planet-minecraft.svg" width="25"/>
  <span>Planet Minecraft</span>
</button>
<button (click)="linkClick(9)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/pinterest.svg" width="25"/>
  <span>Pinterest</span>
</button>
<button (click)="linkClick(10)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/wishlist.svg" width="25"/>
  <span>Wensenlijst</span>
</button>
<button (click)="linkClick(11)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/steam.svg" width="25"/>
  <span>Stoom</span>
</button>
<button (click)="linkClick(12)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/spotify.svg" width="25"/>
  <span>Spotify</span>
</button>
<button (click)="linkClick(13)" class="buttons">
  <img alt="" height="25" ngSrc="/socials/my-anime-list.svg" width="25"/>
  <span>Mijn Anime lijst</span>
</button>
<button (click)="window.open('mailto:luna.lu@lunalu.org')" class="buttons">
  <img alt="" height="25" ngSrc="/socials/email.svg" width="25"/>
  <span>Stuur me een Email</span>
</button>
