<button class="socials">
    <img alt="" height="25" ngSrc="/socials/only-fans.svg" width="25"/>
    <span>Only Fans</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/discord.svg" width="25"/>
    <span>Discord</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/twitch.svg" width="25"/>
    <span>Twitch</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/vr-chat.svg" width="25"/>
    <span>VrChat</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/reddit.svg" width="25"/>
    <span>Reddit</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/github.svg" width="25"/>
    <span>Github</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/youtube.svg" width="25"/>
    <span>YouTube</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/twitter.svg" width="25"/>
    <span>Twitter</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/planet-minecraft.svg" width="25"/>
    <span>Planet Minecraft</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/pinterest.svg" width="25"/>
    <span>Pinterest</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/wishlist.svg" width="25"/>
    <span>Wishlist</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/steam.svg" width="25"/>
    <span>Steam</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/my-anime-list.svg" width="25"/>
    <span>My Anime List</span>
  </button>
  <button class="socials">
    <img alt="" height="25" ngSrc="/socials/email.svg" width="25"/>
    <span>Send me an Email</span>
  </button>
